@headColor: #006699;

#header {
    height: 45px;
    background-color: @headColor;
    
    h4 {
        margin: 0;
        color: #fff;
        text-align: center;
        line-height: 45px;
        font-weight: normal;
    }

    .fa-search {
        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}